.body-btn:hover{
    background-color:#C4CEDA;
}
.body-btn{
    border: none;
    width: 250px;
    height: 150px;
    box-shadow: 0 0 25px rgb(148, 138, 138);
    border-radius: 8px;
}
.num-viewers{
    font-size: 30px;
    font-weight: 300px;
    color:rgb(243, 77, 77);
}
.card {
    padding: 2px;
     height: 400px;
     overflow: hidden; 
     background-color: rgba(239, 238, 237, 0.942);
     border-radius: 2%;
     border: 1.3px solid black;
     box-shadow: 0 0 25px rgb(161, 159, 159);
     transition: transform 0.4s; 
 }
 .card img{
     border-radius: 2%;
     height: 280px;
     width: 336x;
 }
 .card a{
             padding: 6px 110px 6px;
             font-size: large;
             border: 1px solid black;
             border-radius: 25px;
             background-color: rgb(243, 246, 248); 
             color: rgb(109, 107, 107); 
           
         }
 
         .card:hover{
             transform: scale(1.05);
         }
 
         .card a:hover{
             background-color:#80878f;
             box-shadow: 0 0 5px rgb(77, 77, 77);
             color: rgb(246, 245, 244);
         }